ul {
  padding-left: 0;
  display: none;
}

li {
  list-style-type: none;
  display: block;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: inherit;
  &:hover {
    text-decoration-thickness: 2px;
  }
}
